body{
    background-color: rgb(68, 192, 250);
}
h1{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.productos{
    width: auto;
    height: 450px;
    background-color: rgb(68, 192, 250);
    text-align: center;
    border: 2px solid  rgb(3, 62, 90);
    margin: 3px;
}
.contenedor_productos{
    display: grid;
    grid-template-columns: auto auto auto;
}
.c1,.c5,.c9,.c13{
    grid-column: 1/3;
    display: flex;
    justify-content:left;
s}
.c4,.c8,.c12{
    grid-column: 2/4;
}

