/* Pagina General*/
*, ::before, ::after {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body{

    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 38%, rgba(123,203,238,1) 100%);
    
}
.contenedor_presentacion{
    overflow: hidden;
    position: relative;
    margin: 2px auto;
}
.presentacion {
   
    position: absolute;
    top: 40%;
    left: 45% ;
    font-size: 750%;
    text-shadow: -10px 5px 5px rgb(8, 134, 236);
}
.presentacion1{
    
    position: absolute;
    top: 60%;
    left:65%;
    font-size: 300%;
    text-align: center;
}
.redes1{
   color: black;
    position: absolute;
    top: 70%;
    left:65%;
    font-size: 300%;
    text-align: center;

}
.redes2{
    color: black;
    position: absolute;
    top: 70%;
    left:75%;
    font-size: 300%;
    text-align: center;
}

.menu{
    height: 70px;
    display: flex;
    width: 100%;
    margin: 1px;
    background-color: white;
    position:sticky;
    top: 0px;
    background: rgba(1, 12, 73, 0);
  }
.nombre{
    color: rgb(6, 3, 190);
    background-color:rgba(82, 199, 253, 0);
    align-items: center;
    justify-content:space-around;
    display: flex;
    text-shadow:-5px 5px 5px rgb(17, 83, 226) ;
    font-size: 50px;
    margin: 1px;
    width: 60%;
}
.botones{
    justify-content: space-around;
    align-items: center;
    list-style: none;
    display: flex;
    align-items: center;
    cursor: grab;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0%;
    font-size:30px;
    width: 100%;
    border-radius: 104px 0px 105px 0px;
    height:50px;
    background-color: rgb(7, 35, 97);
    color: white;
}
.redes2:hover{
    color: red;
    font-size: 60px;
}
.redes1:hover{
    color: blue;
    font-size: 60px;
}
.botones :hover{
   color: rgb(0, 38, 252);
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 25px;
}
.menuiconos{
    display: none;
}
/* Fin pagina General*/

/* Servicios*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    gap: 10px;
}
.contenedorservicios1{
    
    width: 100%;
    display: grid;
    grid-template-columns:repeat(3,300px);
    justify-items:center;
    row-gap: 20px;
    column-gap: 0px;

}
.serviciosexplicacion{
    color: rgb(0, 0, 0);
    width: 90%;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    text-align: center;
    font-size: 23px;
}
.tituloexplicacion{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: rgb(0, 0, 0);
}
.s5,.s8{
    color: rgba(255, 255, 255, 0.548);
}
.s1,.s5{
    grid-column: 1/3;
}
.s4,.s8{
    grid-column: 2/4;
}
.s9{
    grid-column: 1/4;
    color: rgb(162, 207, 247);
    text-shadow: -10px 5px 5px rgb(6, 70, 122);
    font-size: 800%;
}
.contenedor_servicios{
    display: grid;
    grid-template-columns:repeat(3,300px);
    justify-items:center;
    row-gap: 20px;
    column-gap: 0px;
}
.servicios{
    height: 450px;
    background-color:  rgb(4, 19, 53);
    font-size: 30px;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    border:6px solid rgb(0, 55, 235) ;
    border-radius: 80px 0px 105px 0px;
    box-shadow: 10px 15px 10px 10px rgba(5, 63, 117, 0.363);
}
/*Fin Servicios*/

/*Medias Cueri*/
@media(max-width:590px){
    .menuiconos{
        font-size: 23px;
        display: inline;
    }
   body{
        background-color: rgba(23, 38, 235, 0.726);
    }
    .menu{
        justify-content: space-around;
        border-radius: 104px 0px 105px 0px;
        background-color: rgba(37, 48, 206, 0);
        box-shadow: 3px 6px 6px 0px rgba(0,0,0,0.75);
        position:fixed;
    }
    .botones{
        display: none;
    }
    .contenedor_presentacion{
        display: none;
    }
    .nombre{
        font-size: 24px;
        justify-content:left;
        text-shadow: none;
        background-color: rgba(37, 48, 206, 0);
    }
    h2{
       display: none;
     }
    h1{
        font-size: 25px;
        height: 100px;
        background-color: rgba(37, 48, 206, 0);
    }
    .contenedorservicios1{
        display: grid;
        grid-template-columns: auto auto ;
        justify-items: stretch;
        row-gap: 30px;
        column-gap: 20px;
    }
    .serviciosexplicacion{
        width: 300px;
        
    }
    .contenedor_servicios{
        display: grid;
        grid-template-columns: auto auto ;
        justify-items: stretch;
        row-gap: 30px;
        column-gap: 20px;
    }
    .servicios{
        width: 200px;
        font-size:20px;
    }
}
@media(min-width:501px){
    .botones{
        width: 100%;
        font-size:15px;
    }
    .nombre{
        width: 50%;
        font-size: 40px;
    }
    h1{
        height: 60px;
        font-size: 30px;
        text-align: center;
       
    }
    h2{
        height: 60px;
        font-size: 30px;
        text-align: center;
    }
    .contenedorservicios1{
        display: grid;
        grid-template-columns: auto auto auto;
        justify-items: stretch;
        row-gap: 30px;
        column-gap: 20px;
    }
    .serviciosexplicacion{
        width: 100%;
    }
        
    .contenedor_servicios{
        display: grid;
        grid-template-columns: auto auto auto;
        justify-items:center;
        row-gap: 30px;
        column-gap: 20px;
    }
    .servicios{
        width: 80%;
        font-size: 15px;
    }
    h3{
        height: 30px;
        font-size: 30px;
        text-align: center;
    }
}
@media(max-width:800px){
    .imgserviciosexplicacion{
        display: none;
    }
    .contenedor_presentacion{
        display: none;
}
/*Fin Medias Cueri*/

